.field-container {
    margin-bottom: 0.5rem !important;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 20% !important;
    max-width: 20% !important;
    flex: 0 0 50% !important;
}

.field-wrapper {
    margin-bottom: 0.5rem;
    width: 100%;
}